<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PyCodeAnalyzer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/keepalive.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
    </head>
    <body>
        <div class="center">
            <h1>PyCodeAnalyzer</h1>
            <h2>Analyzing code</h2><br><br>
            <div class="loader center"></div>
            <br><br><div id="AnalyzedFile">
                Starting analysis...
            </div><br>
        </div>
    </body>
</html>
