.wy-nav-content {
    max-width: none;
}

.mermaid {
    overflow-x: scroll;
    overflow-y: scroll;
}

.mermaid svg {
    width: auto;
    height: auto;
    overflow: scroll;
    max-width: none;
}


.plantuml {
    overflow-x: scroll;
    overflow-y: scroll;
}

.plantuml img {
    width: auto;
    height: auto;
    overflow: scroll;
    max-width: none;
}
